<p>&nbsp</p>
<p>&nbsp</p>
<p>&nbsp</p>

<input type="text" id="searchBar" class="form-control" ng-model="searchString" placeholder="Task Search...">

<div class="row">
	<div class="col-md-8">
		<div class="dashboard shadow-box">
			<h1 class="todo-add">To-Do List <i ng-click="showAddBox = !showAddBox" class="fa fa-plus"></i></h1>
			<form name="vm.taskForm" class="row" ng-class="{'hidden': !showAddBox}" ng-submit="vm.addTask()">
				<div class="col-md-11"><input type="text" required ng-model="vm.task" placeholder="Add new task..."></div>
				<div class="col-md-1"><button type="submit" id="add-task"><p class="txtCenter">Add</p></button></div>
			</form>
			<ul>
				<li ng-repeat="task in vm.tasks | filter:searchString"><span><i ng-click="vm.delTask(task)" class="fa fa-trash"></i></span>{{ task.task }} <div class="status"></div></li> 
			</ul>
		</div>
	</div>
	<div class="col-md-4">
		<div class="shadow-box">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title">Labels</h3>
			</div>
			<div class="panel-body">
				<p>Personal</p>
				<p>Family</p>
				<p>Friends</p>
			</div>
		</div>
		</div>
	</div>
</div>
